@import '../../styles/utils';

.rights {
  &__inner {
    padding-block: 80px;

    @include on-phone {
      padding-block: 50px;
    }
  }

  &__descr {
    @extend %mont-600;

    color: $nav-color;
    width: 50%;
    margin-bottom: 50px;

    @media (max-width: 890px) {
      width: 100%;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;

    @media (max-width: 890px) {
      grid-template-columns: repeat(1, 1fr);
      justify-items: start;
      gap: 30px;
    }
  }

  &__item {
    width: 400px;

    @media (max-width: 890px) {
      width: 100%;
    }
  }

  &__item-title {
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 16px;

    @include on-phone {
      font-size: 16px;
    }
  }

  &__item-text {
    @extend %mont-600;

    color: $nav-color;
  }
}